@import "src/assets/css/variables";
.landingContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  //height: calc(100vh + 100px);
  //min-height: 100%;
  .pageTitle {
    color: $blueColor;
    display: flex;
    justify-content: center;
    width: 80%;
    font: {
      weight: bold;
      size: calc(12px + 7.5vw);
    }
  }

  .consoleContainer {
    margin-top: 10vh;
    margin-bottom: 10vh;
    background-color: rgba(0, 0, 0, 0.85);
    border-radius: 5px;
    min-width: 400px;
    width: 70%;
    height: 70%;
    display: flex;
    justify-content: center;
    .consoleText {
      color: white;
      font-size: calc(8px + 1.2vw);
      width: 95%;
      margin-top: 20px;
      text-align: left;
    }
  }
}
