@import "src/assets/css/variables";
@import "src/assets/css/commonStyle";
.pageTitle {
  color: $blackColor;
  @extend .pageTitleStyle;
}
.sectionContainer {
  font: {
    family: Helvetica;
  }
}
.contactStyle {
  display: block;
  font-size: 30;
}
