@import "src/assets/css/variables";
@import "src/assets/css/commonStyle";

  .pageTitle {
    color: $redColor;
    //align-self: flex-start;
    @extend .pageTitleStyle;
  }
  .paragraphContainer {
    margin-top: 30px;
    background-color: $grayBackgroundColor;
    width: 100%;
    height: 100%;
    flex: 1;
    display: flex;
    justify-content: center;
  }
