@import "src/assets/css/variables";
.navContainer{
  padding-bottom: 10px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  //border-bottom: 1px solid black;

  .logo {
    margin-left: 20px;
    color: $blueColor;
    min-width: 50px;
    font: {
      weight: bold;
      size: calc(30px + 1.2vw);
    }
  }
  .linkContainer {
    max-width: 50%;
    min-width: 320px;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    text-transform: uppercase;
    font: {
      size: calc(8px + 1.2vw);
      weight: bold;
    }
    .linkBox {
      display: flex;
      justify-content: center;
      margin-right: 10px;
      align-items: center;
    }
    .activeBox {
      border-bottom: solid;
    }

  }

}
