@import "src/assets/css/variables";
.navContainer{
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid black;

  .logo {
    margin-left: 20px;
    color: $blueColor;
    min-width: 400px;
    font: {
      family: Helvetica;
      weight: bold;
      size: calc(50px + 1.2vw);
    }
  }
  .linkContainer {
    max-width: 600px;
    width: 70%;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    text-transform: uppercase;
    font: {
      family: Helvetica;
      size: calc(8px + 1.2vw);
      weight: bold;
    }
    .linkBox {
      display: flex;
      justify-content: center;
      align-items: center;
    }

  }

}
